<h1>Sistema Gerenciador de Funcionarios</h1>
<p>Escolha uma das opções abaixo:</p>

<ul>
  <li><%=	 link_to "Novo Funcionarios", new_trabalhador_path  %></li>
<!--  <li> <%#= link_to "Busca Funcionarios", search_busca_path %> </li>-->
  <li> <%= link_to "Listar e Pesquisar Funcionarios", trabalhadors_path %> </li>
  <li> <%= link_to "Novo Contatos", new_contato_path %> </li>
  <li> <%= link_to "Lista Contatos", contatos_path %> </li>

</ul>
